
.link-to-dialog {
    color:blue;
    text-decoration:underline;
    cursor:pointer;
    padding-left:10px;
    padding-right:10px;
}

.entityURI {
    color:darkblue;
}

.classURI {
    color:darkorange;
}

.propertyURI {
    color:darkviolet;
}

.functorURI {
    color:darkcyan;
}

.datatypeURI {
    color:darkorange;
}

.plainLiteral, .typedLiteral {
    color:darkgreen;
}

.primitive {
    color:darkgoldenrod;
}

.XMLLiteral {
    color:darkgrey;
}

.var, .modifier {
    color:darkred;
}

.image-of-URI {
    border:1px solid #ddd;
    padding:2px;
    margin:0px 10px 0px 0px;
    border-radius:2px;
    height:100px;
    vertical-align:bottom;
}

.coordAnd, .coordOr, .seq, .indent {
    list-style-type:none;
    margin:0px;
}

/*
.focused.mode-root { background-color:#c8c8ff; }
.focused.mode-type { background-color:#f8c896; }
.focused.mode-val { background-color:#c8ffc8; }
.focused.mode-relaxed { background-color:#ffc8c8; }
*/

#focus-control-select {
    width: 6em;
}

.incrementTree, .transformationTree {
    height:200px;
    resize:vertical;
    overflow:auto;
}

#completions {
    position:relative;
}

#completions div {
    position:absolute;
    //left:3em;
    z-index:10;
    min-width:300px;
    //background-color:#c8ffc8;
    //border: 1px solid;
}

.panel-heading {
    overflow:auto;
}
.relaxation {
    float:right;
}

.incrementList, .transformationList {
    list-style-type:none; /* no bullets */
    padding:0px;
}
.incrementList .incrementList {
    padding-left:20px; /* indentation of sublists */
}

.incrementList li, .transformationList li {
    left-margin: 0px;
}

.increment, .transformation, .increment-actions {
    cursor:pointer;
}

.increment-actions {
    visibility: hidden;
}
.increment-span:hover .increment-actions {
    visibility: visible;
}
.increment-action {
    margin: 0px 0px 0px 10px;
}

.css-treeview input ~ ul {
    display: none; /* hiding sublists of unckecked increments */
}
.css-treeview input:checked ~ ul {
    display: block; /* showing sublists of checked increments */
}
.css-treeview input
{
  position: absolute;
  opacity: 0;
}
/* showing/hiding arrow labels depending on check status */
.css-treeview input ~ .label-checked { display:none; }
.css-treeview input:checked ~ .label-unchecked { display:none; }
.css-treeview input:checked ~ .label-checked { display:inline; }

.is-new {
    font-weight:bold;
}

.input-count {
    width: 5em;
}

.select-hidden {
    width: 5em;
}
.select-order {
    width: 5em;
}
.select-aggreg {
    width: 5em;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
